@layout.app()
    @slot('main')
        <div class="bg-zinc-200 py-16 md:py-20 flex flex-col gap-20 md:gap-28 lg:gap-36">
            <div class="relative flex justify-center text-center items-center py-16">
                <p class="absolute z-10 text-center top-4 md:top-2 text-sm md:text-base">Yayasan Anggur Sejahtera</p>
                <h1 class="absolute z-10 text-white text-lg md:text-xl lg:text-3xl text-center title bg-zinc-800 p-2 px-3 md:px-8 rounded-md"><B>Bergabung Dengan Kami</B></h1>
                <img class="absolute -z-1 top-14 w-5/6 h-[260px] md:h-[360px] object-cover rounded-sm" src="../src/gallery/kontak-1.jpg" alt="">
            </div>
            <div class="mt-32 md:mt-48 mx-auto w-11/12 flex flex-col gap-4 pt-10 text-center border-t-4 border-green-800">
                <p data-aos="fade-up" class="description md:text-base xl:text-lg text-justify">
                    Dengan begitu banyak manfaat dari budidaya anggur, menjadi motivasi kami untuk terus menyebarkan kegiatan ini kepada lebih banyak orang.
                    Tidak hanya terbatas pada petani, tetapi juga kepada berbagai kalangan, baik dari segi umur maupun profesi.
                    Mulai dari remaja hingga lanjut usia, dari petani hingga akademisi, dan lainnya.
                    Sebab, pohon yang kita tanam hari ini akan menjadi harapan dan kehidupan bagi generasi mendatang.
                    Tunggu apa lagi? Ayo bergabung bersama kami! Baik sebagai anggota komunitas maupun mitra pengembangan kebun. Hubungi kami di bawah ini sekarang juga!
                </p>
                <div class="map flex justify-center items-center relative">
                    <iframe class="w-full h-[65vh] rounded-md border-2 border-green-900" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3960.763865284392!2d107.65105357403554!3d-6.918808967716276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68e7ba6beb4377%3A0xd316eaaa49e4932a!2sBudidaya%20Anggur%20Bandung%3A%20Dineu%20Garden!5e0!3m2!1sid!2sid!4v1723118462731!5m2!1sid!2sid"></iframe>
                </div>
                <div class="form-container flex flex-col gap-4">
                    <div class="contact-info text-left flex flex-col gap-4">
                        <p data-aos="fade-right" class="text-sm md:text-base xl:text-lg"><strong>Kontak</strong><br> Telepon Kantor: +628112343011<br> Whatsapp:+62 811-2343-011 <a href="https://wa.me/628112343011" class="text-purple-600" target="_blank">(Salma)</a></p>
                        <p data-aos="fade-right" class="text-sm md:text-base xl:text-lg"><strong>Kantor</strong><br>Jl.Bougenville Raya Blok H No.4, Bandung, Jawa Barat 40291</p>
                        <p data-aos="fade-right" class="text-sm md:text-base xl:text-lg"><strong>Jam Operasional</strong><br>Senin - Minggu / 9.00 - 18.00 WIB</p>
                        <p data-aos="fade-right" class="text-sm md:text-base xl:text-lg"><strong>Email</strong><br> anggursejahteraindonesia.com<br> salmanfird4@outlook.com(Salman)</p>
                    </div>
                    <div class="form text-left w-full">
                      <form id="contact-form" class="space-y-3">
                          <input id="name" type="text" name="name" placeholder="Nama Lengkap" required class="w-full p-2 border border-gray-300 rounded-md text-4vw md:text-base">
                          <input id="email" type="email" name="email" placeholder="Masukkan Email anda disini" required class="w-full p-2 border border-gray-300 rounded-md text-4vw md:text-base">
                          <input id="phone" type="tel" name="phone" placeholder="Masukkan Nomor HP/Whatsapp" required class="w-full p-2 border border-gray-300 rounded-md text-4vw md:text-base">
                          <textarea id="message" name="message" placeholder="Pesan anda" required class="w-full p-2 border border-gray-300 rounded-md h-[20vh] text-4vw md:text-base"></textarea>
                          <button type="submit" class="bg-green-900 text-gray-200 py-2 px-4 rounded-md cursor-pointer text-4vw md:text-base hover:bg-gray-100 hover:outline hover:outline-green-900 hover:text-green-900 transition-all w-full">Kirim</button>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    @end
@end